@import "landing";
@import "album";
@import "collection";
@import "player_bar";

/*Define variables */
$background-purple: #5B5579;
$base-font-size: 16px;
$button-bg-color: #d2287b;
/*$hoverDefault:
  {
    cursor: pointer;
    color: white;
  };*/

/* define the mixin */
@mixin radial-gradient($first_color, $second_color) {
  background: -webkit-radial-gradient($first_color, $second_color);
  background: radial-gradient($first_color, $second_color);
}

html{
	height: 100%
}

body{
	font-family: 'Open Sans';
	color: white;
	min-height:100%;
  padding-bottom: 150px;
  @include radial-gradient(#2b1339,#380c77);
}

body.landing{
	background: background-purple;
  padding-bottom:0;
}

body.landing .navbar {
	margin-bottom: 0;
}

.player-header-nav {
	background-color: rgba(123, 70, 163, .9);
}



 